<h3>Shipping costs: </h3>
<div class="shipping-item" *ngFor="let shipping of shippingCosts | async">
    <span>{{shipping.type}}</span>
    <span>{{shipping.price | currency}}</span>
</div>
<!-- src/app/product-list/product-list.component.html -->

<div *ngFor="let product of displayedMaterials">
    <div>{{ product.title }}</div>
    <div>{{ product.description }}</div>
    <div>Price: {{ product.price | currency }}</div>
    <!-- <div>Discount: {{ product.discountPercentage }}%</div>
    <div>Rating: {{ product.rating }}</div>
    <div>Stock: {{ product.stock }}</div>
    <div>Brand: {{ product.brand }}</div>
    <div>Category: {{ product.category }}</div> -->
    <hr>
  </div>
<button type="button" (click)="loadMore()">Next 3 items...</button><br><br>
<button type="button" (click)="loadBack()">...Back</button>