<h2>Cart</h2>

<p>
    <a routerLink="/shipping">Shipping prices</a>
</p>
<div class="cart-item" *ngFor="let item of cartService.items">
    <span>{{item.title}}</span>
    <span>{{item.price | currency}}</span>
</div>
<button type="button" (click)="cartService.clearCart()">Clear cart</button>
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <div>
        <label>Name: </label>
        <input type="text" placeholder="Enter your name here: " id="name" formControlName="name" required>
    </div>
    <div>
        <label>Address: </label>
        <input type="text" placeholder="Enter your address here: " id="address" formControlName="address" required>
    </div>
    <button type="submit" class="button" (click)="cartService.clearCart()">Submit</button>
</form>